<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class ="container">
<h1>Create Tag</h1>
<nav th:replace="fragments :: header"></nav>


<form method="post" action="/tags/create">
    <div class="form-group">
        <label>Name
            <input th:field="${tag.name}" class="form-control"> <!-- I want an input to correspond the name atribute -->
        </label>
        <p class="error" th:errors="${tag.name}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>

